$bg-primaryr: #38404A;
$bg-secondary: #24282D;
$txt-color-primary: #FFFFFF;
$txt-color-secondary: #BCC9D6;
$txt-color-navigation: #717680;
$txt-color-gray: #9096A3;
$txt-color-dark-dray: #5A5C62;
$border-color: #627081;
$border-color-light: #47515D;
$SF-UI-Display-Light: "SF-UI-Display-Light";
$HelveticaNeue-light: "HelveticaNeue-light";
$HelveticaNeue-Regular: "HelveticaNeue-Regular";
$HelveticaNeue-bold: "HelveticaNeue-Bold";
