.sectio-main-heading {
    color: #9c9c9c; 
}
.label-schecdule {
    color: #31ad00;
    border-radius: 10px;
    width: 300px;
    padding-left: 10px;
    padding-right: 10px;
    border: 1px;
    border-style: solid;
    border-color: #31ad00;
}
.label-due {
    color: #ec0000;
    border-radius: 10px;
    width: 200px;
    padding-left: 10px;
    padding-right: 10px;
    border: 1px;
    border-style: solid;
    border-color: #ec0000;
}